## private info
/data/uspto_db_connection_info.json

## ignore directory
/__pycache__
/.idea/*
/data/raw_data
/data/matrix_data
/data/pair_data

## ignore script
hello.py
untitled*.py

## using direcetory
#/kiie-2017f/
#/kiie-2017f/data
#/kiie-2017f/data_json
#/kiie-2017f/dataset_model
#/kiie-2017f/gephi_input
#/kiie-2017f/res_tmp

## ignore file format
/kiie-2017f/*.csv
/kiie-2017f/*.pickle
/kiie-2017f/*.json
/data/groupby_data/*.xlsx

